extends layout

block content
	.ui.inverted.menu
		a.active.item(href="/")
			i.home.icon
			|Beacon
		a.item(href="/graph")
			i.fork.code.icon
			|Graph
		a.item(href="/network")
			i.rss.icon
			|Network
	#leftbar
	#rightbar
