doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/javascripts/semantic/packaged/css/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    script(src="/javascripts/SIGMA/sigma.min.js")
    script(src="/javascripts/jquery-1.9.1.js")
    script(src="/javascripts/SIGMA/plugins/sigma.parsers.json.min.js")
    script(src="/javascripts/updater.js")
    script(src="/javascripts/semantic.min.js")
    script(src="/javascripts/grapher.js")
    script(src="/javascripts/ntwk.js")
  body
    block content