doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/SIGMA/sigma.min.js")
    script(src="/javascripts/SIGMA/plugins/sigma.parsers.json.min.js")
    script(src="/javascripts/updater.js")
    script(src="/javascripts/grapher.js")
  body
    block content