extends layout

block content
	.ui.inverted.menu
		a.item(href="/")
			i.home.icon
			|Beacon
		a.item(href="/graph")
			i.fork.code.icon
			|Graph
		a.active.item(href="/network")
			i.rss.icon
			|Network
	#map
		#mapholder
			img#floorplanimg.fullop(src="images/fp.png")
			img#floorplanimg.halfop(src="images/fp.png")
			img#floorplanimg.lowop(src="images/fp.png")
			img#floorplanimg.noop(src="images/fp.png")
			#bigcirc
			#smlcirc
	#contain_network
		-var ob = devices
		-for(var prop in ob)
			.device_abs
				.device_core_data
					a(href="/network?update_id="+ ob[prop].device_id) #{ob[prop].device_id} (#{ob[prop].device_name})
				.device_aux_data
					p data #{ob[prop].device_dataset}
				.device_expand
					i.add.icon

